* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family:
    DM sans,
    "sans serif";
  width: 80vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
}

.header div {
  display: flex;
  justify-content: space-between;
  width: 971px;
  height: 40px;
  margin: 30px;
}

nav {
  display: flex;
  gap: 50px;
  align-items: center;
  padding-top: 25px;
}

span {
  font-weight: bold;
  font-size: 24px;
  color: hsla(252, 76%, 22%, 1);
  letter-spacing: -0.29px;
  width: 106px;
  height: 32px;
}

ul {
  display: flex;
  gap: 50px;
}

li {
  list-style: none;
  font-size: 18px;
  line-height: 26px;
  width: 73px;
  height: 26px;
}

a {
  color: hsla(252, 76%, 22%, 1);
  text-decoration: none;
}

.purchase {
  font-size: 18px;
  background: transparent;
  border: 1px solid hsla(249, 8%, 92%, 1);
  border-radius: 999px;
  width: 118px;
  height: 40px;
}

.grey {
  color: hsla(241, 47%, 15%, 0.4);
}

.purple {
  color: hsla(252, 76%, 22%, 1);
}

.hero {
  display: flex;
  justify-content: start;
  margin-top: 80px;
}

.left-hero {
  width: 50vw;
  margin-left: 30px;
}

h1 {
  width: 35vw;
  font-weight: 700;
  font-size: 58px;
  line-height: 70px;
  letter-spacing: -1px;
}

.left-hero p {
  margin: 30px 0;
  width: 30vw;
  line-height: 28px;
  font-size: 18px;
  font-weight: 600;
}

.explore {
  color: white;
  background-color: hsla(249, 80%, 54%, 1);
  padding: 10px 15px;
  border-color: transparent;
  border-radius: 100px;
  width: 206px;
  height: 50px;
  font-size: 20px;
  line-height: 26px;
  margin-top: 25px;
}

img {
  margin-right: 90px;
}
